
    {% load entitle_balance %}
    
    
    {% for i in entitlement_balances_response %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>
   {{i.leave_type}}
    </td>
    <td>{{i.total_leaves}}</td>
    <td>{{i.total_leave_balance}}</td>
    <td>
        {{ i.total_leaves|leave_taken_method:i.total_leave_balance }}
    </td>
</tr>

{% endfor %}


<script>
    // var id = `{{emp_registration_id}}`
    // var name = `{{employee_name1}}`
    
    // $("#employee_reg_number").val(id)
    // $("#employee_name1").val(name)

</script>

