{% extends "super_admin/menu.html" %}

{% load static %}

{% block content %}
<link href="{% static 'tss_new/plugins/app.min.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'tss_new/plugins/datatable/jquery.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'tss_new/plugins/datatable/responsive.dataTables.min.css' %}">



<div class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="box_header">
                    <div class="row">
                        <div class="col-md-7 col-12">
                            <div class="mainiconbox"><i class="fa fa-user"></i>
                            </div>
                            <h4 class="m-t-0 header-title">
                                <div class="breadcrumbs ng-scope">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a>Petty Cash Management </a></li>
                                        <!-- <li><a>User  Settings</a></li> -->
                                    </ul>
                                    <div>Petty Cash Settings</div>
                                </div>
                            </h4>
                        </div>
                        <div class="col-md-5 col-12">
                            <div class="pull-right p-t-10">

                                <a data-toggle="modal" class="btn btn-info newbtn_crete" data-target="#newuser"> <i class="mdi mdi-plus-circle-outline"></i> APPLY PETTY CASH
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-box ">
                    <div class="table_rspnsv" id="tableview">
                        <div class="row2 tbl_stngs commen_table">

                            <table id="datatable" class="table table-bordered dt-responsive nowrap table-hover" style="width: 100%;">

                                <thead>
                                <tr>
                                    <th>Amount Requested</th>
                                    <th>IBAN NO</th>
                                    <th>Job No</th>
                                    <th>Purpose</th>
                                    <th>Status</th>
                                    <th>Created At</th>
                                    
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td><a class="label-default" href="#/">5000</a></td>
                                   <td>
                                   9768589
                                   </td>
                                   <td>
                                    J-5678
                                   </td>
                                   <td>
                                    Petrol cash
                                   </td>
                                   <td><span class="btn btn-soft-success waves-effect waves-light py-0 px-2 mg-top">Approved</span></td>
                                   <td>
                                    17/08/2022
                                   </td>
                                </tr>

                                <tr>
                                    <td><a class="label-default" href="#/">3000</a></td>
                                   <td>
                                   9768589
                                   </td>
                                   <td>
                                    J-5689
                                   </td>
                                   <td>
                                    Hospital
                                   </td>
                                   <td><span class="btn btn-soft-warning waves-effect waves-light py-0 px-2 mg-top">Pending</span></td>
                                   <td>
                                    22/08/2022
                                   </td>
                                </tr>

                                <tr>
                                    <td><a class="label-default" href="#/">8000</a></td>
                                   <td>
                                   9768589
                                   </td>
                                   <td>
                                    J-5645
                                   </td>
                                   <td>
                                   Food
                                   </td>
                                   <td><span class="btn btn-soft-warning waves-effect waves-light py-0 px-2 mg-top">Pending</span></td>
                                   <td>
                                    19/08/2022
                                   </td>
                                </tr>
                                </tbody>




                                <!-- <tbody>
                                    {% for history in leave_history_response %}
                                <tr>
                                    <td><a class="label-default" href="#/">{{history.holiday_status_id.1}}</a></td>
                                   <td>
                                    {{history.date_from}}
                                   </td>
                                   <td>
                                    {{history.date_to}}
                                   </td>
                                   <td>
                                    {{history.number_of_days}}
                                   </td>
                                   <td>
                                   
                                    {{history.name}}
                                   </td>
                                   <td>
                                    {{history.create_date}}
                                   </td>

                                </tr>
                                {% endfor %}
                           
                       

                                </tbody> -->
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
</div>
</div>

<div id="newuser" class="modal modal-right fade" role="dialog" data-backdrop="static"  >
<div class="modal-dialog modal-full">
<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Petty Cash Application Form 
            <br>    <span style="color: #f5f5f5;
                    font-size: 16px;
                    font-weight: bold;
                    ">Existsting Amount : 2500</span>

        </h4>
        <div class="pull-right"> <a class="btn enlarge_modal" data-toggle="tooltip" data-original-title="Fullscreen"><i
                        class="mdi mdi-crop-free" aria-hidden="true"></i> </a>
            <a class="btn dslarge_modal" data-toggle="tooltip" data-original-title="Back"><i
                        class="mdi mdi-arrow-expand-all" aria-hidden="true"></i> </a>
        </div>
    </div>
    <form action="pettycash_action" method="POST">
        
        {% csrf_token %}
    <div class="modal-body">
        <input type="hidden" name="leave_type_nm" id="leave_type_nm">

            <div class="col-md-12">
                <div class="row m-t-15">
                    <div class="col-md-6 colp_r_15">
                        <div class="row">

                            <div class="col-md-6 colp_r_15 mt-4">
                                <div class="user_daterangpickrbox expirationbox">
                                    <div class="">
                                        <h3 class="big_title2">Payment Type</h3>
                                    </div>
                                    <div class="form-group">
                                        <div class="radio">
                                            <input name="payment_type" value="days" type="radio" id="expense_id" checked="">
                                            <label for="expense_id" id="expense">Expense</label> <span>
                                            <input type="number" class="password_day_countbox hide "
                                                   style="max-width: 50px;margin-left: 20px"> </span>
                                        </div>
                                        <div class="radio">
                                            <input name="payment_type" type="radio" value="none" id="supplier_id">
                                            <label for="supplier_id" id="supplier">Supplier</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6 colp_r_15 mt-4" id="select_supplier" style="display: none">
                                <div class="form-group bmd-form-group required_item"> <label class="bmd-label-floating inputText">Supplier</label> 
                                        
                                    <select name="job_no" class="form-control select2 select2-hidden-accessible" id="" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option selected="">Select Supplier</option>

                                    {% for employee in select_employee_api %}
                                    <option value="{{employee.id}}" >{{employee.name}} {{employee.registration_number}}</option>
                                    {% endfor %}
                                </select> </div> 
                            </div>

                            <div id="add_file1" style="width:500px;">
                                    <div class="col-md-8 pad5 mt-4">
                                        <div class="col-lg-12 col-md-12 col-sm-12 resumeFileField">
                                            <div class="form-group">
                                                <div class="file-upload">
        
                                                    <div class="image-upload-wrap">
                                                        <input class="file-upload-input" id="f123" name="employee_attached_file" type='file' onchange="readURL(this);" accept="image/*,application/pdf" />
                                                        <div class="drag-text">
                                                            <h3>Drag and drop a file or select File</h3>
                                                        </div>
                                                    </div>
                                                    <div class="file-upload-content">
                                                        <img class="file-upload-image" src="#" alt="your image" />
                                                        <div class="image-title-wrap">
                                                            <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div></div>

                            <br>
                        </div>
                    </div>
                    <div class="col-md-6 colp_l_15">
                        <div class="row">
                            <div class="col-md-8 pad5 mt-4" >
                                <div class="form-group">
                                    <div class="form-group bmd-form-group required_item">
                                        <input  required type="number"  id="amount_requested" class="form-control" name="amount_requested" placeholder="2500">
                                        <label class="inputText openselect2">Amount Requested</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 pad5">
                                <div class="form-group bmd-form-group required_item"> <label class="bmd-label-floating inputText">Job No</label> 
                                        
                                    <select name="job_no" class="form-control select2 select2-hidden-accessible" id="" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option selected="">Select Job No</option>

                                    {% for employee in select_employee_api %}
                                    <option value="{{employee.id}}" >{{employee.name}} {{employee.registration_number}}</option>
                                    {% endfor %}
                                    </select> </div> 
                            </div>

                            <div class="col-md-8 pad5">
                                <div class="form-group">
                                    <div class="form-group bmd-form-group required_item">
                                        <input  required type="number"  class="form-control" name="iban_no">
                                        <label class="inputText openselect2">IBAN NO</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 pad5 mt-4">
                                <div class="form-group bmd-form-group required_item">
                                    <textarea name="purpose" rows="1" class="form-control tstarea"></textarea>
                                    <label class="bmd-label-floating inputText">Purpose</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <div class="modal-footer" style="margin: 15px 15px;
    color: red;
    border-top: 2px solid #423d58;">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-info" >Save</button>
    </div>
    </form>
</div>
</div>
</div>



<script src="{% static 'adminnew/js/jquery.min.js' %}"></script>
<script src="{% static 'adminnew/js/custome.js' %}"></script>
<script src="{% static 'adminnew/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'adminnew/js/metisMenu.min.js' %}"></script>
<script src="{% static 'adminnew/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'adminnew/js/moment.js' %}"></script>
<script src="{% static 'adminnew/js/bootstrap-timepicker.js' %}"></script>
<script src="{% static 'adminnew/js/bootstrap-datetimepicker.min.js' %}"></script>
<!--<script src="js/moment.js"></script>-->

<script src="{% static 'adminnew/js/jquery.core.js' %}"></script>
<script src="{% static 'adminnew/js/jquery.app.js' %}"></script>


<script>
$(window).scroll(function () {
var scroll = $(window).scrollTop();
if (scroll >= 0) {
    $("html").addClass("modal-open2");
}
});
</script>


<script src="{% static 'adminnew/js/jquery.core.js'  %}"></script>
<script src="{% static 'adminnew/js/jquery.app.js' %}"></script>
<!-- App js -->
<script src="{% static 'adminnew/js/select2.full.js' %}"></script>
<script src="{% static 'adminnew/js/select2-custome.js' %}"></script>


<script src="{% static 'adminnew/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminnew/js/dataTables.bootstrap4.min.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {

// Default Datatable
$('#datatable').DataTable();
$('#responsive-datatable').DataTable();
});
</script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    $("#supplier").click(function(){
       
        $("#select_supplier").show();
    })
    $("#expense").click(function(){    
        $("#select_supplier").hide(); 
    })
</script>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function(e) {
                $('.image-upload-wrap').hide();

                $('.file-upload-image').attr('src', e.target.result);
                $('.file-upload-content').show();

                $('.image-title').html(input.files[0].name);
            };


            // alert(document.getElementById("f123").value)
            $("#f12").val(document.getElementById("f123").value)
            reader.readAsDataURL(input.files[0]);

        } else {
            removeUpload();
        }
    }

    function removeUpload() {
        $('.file-upload-input').replaceWith($('.file-upload-input').clone());
        $('.file-upload-content').hide();
        $('.image-upload-wrap').show();
    }
    $('.image-upload-wrap').bind('dragover', function() {
        $('.image-upload-wrap').addClass('image-dropping');
    });
    $('.image-upload-wrap').bind('dragleave', function() {
        $('.image-upload-wrap').removeClass('image-dropping');
    });
</script>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    document.getElementById("amount_requested").onchange = function() {myFunction()};
    
    function myFunction() {
     amt = $("#amount_requested").val()
     
     if(amt > 2500){
        Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Requested Amount cannot be dispersed !',
                    })   
     }
     
    }
    </script>

{% endblock %}