{% extends "super_admin/menu.html" %}

{% load static %}
{% load notification %}
{% block content %}

<div class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="box_header">
                    <div class="row">
                        <div class="col-md-7 col-12">
                            <div class="mainiconbox"><i class="fa fa-black-tie"></i>
                            </div>
                            <h4 class="m-t-0 header-title">
                                <div class="breadcrumbs ng-scope">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a>Notification</a></li>
                                   
                                    </ul>
                                    <div>All Notification Details</div>
                                </div>
                            </h4>
                        </div>

                        <div class="col-md-5 col-12">
                            <div class="pull-right p-t-10 m-2">
                                <a style="text-decoration: none;color: red" href="view_all_notification?type={{type}}"><i class="fa fa-id-card-o" aria-hidden="true"></i> 
                                </a>
                            </div>
                            <div class="pull-right p-t-10 m-2">
                                <a href="view_notification_table?type={{type}}"> <i class="fa fa-table" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-box ">
                    <div class="card-box ">
                   
                    <div class="row">

                 
                        {% for i in notifictaion %}
                       

                        <div class="col-md-3 mt-4 card" style="    display: flex;
                     
                        justify-content: center;
                        position: relative;
                       
                        height: auto;
                        background-color: rgba(255, 255, 255, 0.2);
                        backdrop-filter: blur(4.5px);
                        -webkit-backdrop-filter: blur(4.5px);
                        box-shadow: 20px 20px 40px -6px rgb(0 0 0 / 20%);
                        border-radius: 15px;">
                            <div class="row " style="       
                            padding: 12px 3px;">
                            
                            <div class="col-md-3">
                             <img style="width: 83%" src="{% static 'u1.png' %}">
                            </div>
                            <div class="col-md-9">
                          <span style="color: #091124;
                          font-size: 13px;
                          font-weight: 600;
                          margin-bottom: 0;
                          margin-top: 0;
                          overflow-wrap: break-word;
                          word-wrap: break-word;">{{i.leave_apply_user_name}}</span>
                         {% if i.dt|get_notifications_date_ago == 0 %}
                         

                          {% else %}
                          <span style="    float: right;
                          border: 1px solid #017e84;
                          padding: 0px 8px;
                          font-size: 10px;
                          border-radius: 12px;margin: 12px 12px;">
                        {{  i.dt|get_notifications_date_ago}}  days
                        {% endif %}
                        </span>
                          <br>
                         
                          <span style="color: rgba(68, 75, 90, 0.76) !important;font-size: 12px;">{{i.leave_type_name}}</span>
                          <br>
                          <span style="color: rgba(68, 75, 90, 0.76) !important;font-size: 12px;">from {{i.requested_from_dt}} to {{i.requested_to_dt}}</span>
                          {% if i.notification_type == "leave_approve_request" %}
                          {% if i.status == "Pending" %}
                          <div class="row mt-2">
                             <div class="col-md-3">
                               
                                 <a data-id="{{i.mapping_id}}" data-status="{{i.current_leave_status}}"  class="approve_confirmation" href="#" style="color: #01666b;
                                 text-decoration: none;font-weight: bold;"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Approve</a>
                             </div>
                             <div class="col-md-3">
                                 <a data-id="{{i.mapping_id}}" data-status="{{i.current_leave_status}}" class="refuse_confirmation"  href="#" style="color: #01666b;
                                 text-decoration: none;font-weight: bold;"><i class="fa fa-times" aria-hidden="true"></i>Refuse</a>
                             </div>
                          </div>

                          {% elif i.status == "approve" %}
                          <br>
                          <span style="      margin: 21px 3px;
                          padding: 4px 8px;
                          color: white;
                          
                          background: green;
                          font-size: 10px;
                          border-radius: 12px;"> Approved</span>

                          {% elif i.status == "reject"  %}
                          <br>
                          <span style="      margin: 21px 3px;
                          padding: 4px 8px;
                          color: white;
                          
                          background: red;
                          font-size: 10px;
                          border-radius: 12px;"> Reject</span>

{% elif i.status == "reassign"  %}
<br>
<span style="       margin: 21px 3px;
padding: 4px 8px;
color: white;

background: #a9727a;
font-size: 10px;
border-radius: 12px;"> Reassign</span>

                          {% endif %}
                          {% endif %}
                          <div class="mt-2">
                            <a href="view_leave_more_details?id={{i.mapping_id}}" style="    float: right;
                            margin: -12px 12px;">  <i style="color: black;" class="fa fa-eye"></i></a>
                          </div>


                          {% if i.notification_type == "leave_type" %}

                          {% if i.status == "confirm" %}
                          <span style="    padding: 3px 12px;
                          background: #348751;
                          color: white;
                          font-size: 10px;
                          border-radius: 12px;
                      ">To Approve</span>

{% elif i.status == "refuse" %}
<span style="background: #e8e8e8;
color: black;
font-size: 12px;
padding: 4px 9px;
border: 0;
font-size: 12px;
user-select: none;
/* background-color: rgba(211, 211, 211, 0.5); */
font-weight: 500;
display: inline-block;
max-width: 100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
vertical-align: top;
transition: none;
border-radius: 12px;">Refused</span>

{% elif i.status == "validate1" %}
<span style="background: #fed47e;
color: black;
font-size: 12px;
padding: 4px 9px;
border: 0;
font-size: 12px;
user-select: none;
/* background-color: rgba(211, 211, 211, 0.5); */
font-weight: 500;
display: inline-block;
max-width: 100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
vertical-align: top;
transition: none;
border-radius: 12px;">	Second Approval</span>

{% elif i.status == "validate" %}
<span style="background: #fed47e;
color: black;
font-size: 12px;
padding: 4px 9px;
border: 0;
font-size: 12px;
user-select: none;
/* background-color: rgba(211, 211, 211, 0.5); */
font-weight: 500;
display: inline-block;
max-width: 100%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
vertical-align: top;
transition: none;
border-radius: 12px;">	Approved</span>

                          {% else %}
                          <span style="    padding: 3px 12px;
                          background: #348751;
                          color: white;
                          font-size: 10px;
                          border-radius: 12px;
                      ">{{i.status}}</span>
                          {% endif %}


                        

                          {% endif %}
                            </div>
                            </div>
                         </div>
 
 
 
 

                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
            
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="    background-color: #65b1ef!important;border: none!important">
          <h5 class="modal-title" id="exampleModalCenterTitle">Leave Approve Confirmation </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="leave_approve_action" method="POST" >
            {% csrf_token %}
            <input type="hidden"  name="leave_mapping_id"  id="leave_mapping_id">
            <input type="hidden" name="leave_status" id="leave_status" >
        <div class="modal-body">
            <img style="    width: 18%;" src="{% static 'confirm.gif' %}">
          <p style="    font-size: 13px;
          font-weight: bold;">Are you sure you want to approve this leave request?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
        </form>
      </div>
    </div>
  </div>


  
  <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header" style="        background-color: #e9b02c!important;border: none!important">
          <h5 class="modal-title" id="exampleModalCenterTitle">Leave Reject Confirmation </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="reject_leave_request_action" method="POST">
            {% csrf_token %}
        <div class="modal-body">
            <img style="    width: 18%;" src="{% static 'Reject.gif' %}">
          <p style="    font-size: 13px;
          font-weight: bold;">Are you sure you want to reject this leave request?</p>

<input type="hidden" id="rj_leave_mapping_id" name="leave_mapping_id" value="{{id}}">
<input type="hidden" id="rj_leave_status" name="leave_status" value="{{r1.state}}">
<input type="text" class="form-control" name="note" placeholder="Note">
<br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Reject</button>
        </div>

    </form>

      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(".approve_confirmation").click(function(){
        var id = $(this).attr("data-id")
        var status = $(this).attr("data-status")
        $("#leave_mapping_id").val(id)
        $("#leave_status").val(status)
        $("#exampleModalCenter").modal("show")
       
    })


    $(".refuse_confirmation").click(function(){
       
        var id = $(this).attr("data-id")
        var status = $(this).attr("data-status")
        $("#rj_leave_mapping_id").val(id)
        $("#rj_leave_status").val(status)
        $("#exampleModalCenter1").modal("show")
      
    })
  </script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
   <script>
    {% for message in messages %}
        message1 = "{{message}}"
        // alert(message1)
       

      
       
        if(message1 == "error"){

            Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: "{{ message }}",
 
})



        }
        else{

            Swal.fire(
				  '',
				  '{{ message }}',
				  '{{message.tags}}'
				)
      
        }
    {% endfor %}
   </script>
   {% endif %}
{% endblock %}