{% extends "super_admin/menu.html" %}

{% load static %}

{% block content %}

<div class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="box_header">
                    <div class="row">
                        <div class="col-md-7 col-12">
                            <div class="mainiconbox"><i class="fa fa-black-tie"></i>
                            </div>
                            <h4 class="m-t-0 header-title">
                                <div class="breadcrumbs ng-scope">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a>Notification</a></li>
                                   
                                    </ul>
                                    <div>All Notification Details</div>
                                </div>
                            </h4>
                        </div>

                        <div class="col-md-5 col-12">
                            <!-- <div class="pull-right p-t-10">
                                <a data-toggle="modal" class="btn btn-info newbtn_crete" data-target="#newsrole"> <i class="mdi mdi-plus-circle-outline"></i> New
                                </a>
                            </div> -->
                        </div>

                    </div>
                </div>
                <div class="card-box ">
                    <div class="card-box ">
                   
                    <div class="row">

                 
                        {% for i in notifictaion %}

                        <div class="col-md-3 mt-4 card" style="    display: flex;
                     
                        justify-content: center;
                        position: relative;
                       
                        height: auto;
                        background-color: rgba(255, 255, 255, 0.2);
                        backdrop-filter: blur(4.5px);
                        -webkit-backdrop-filter: blur(4.5px);
                        box-shadow: 20px 20px 40px -6px rgb(0 0 0 / 20%);
                        border-radius: 15px;">
                            <div class="row " style="       
                            padding: 12px 3px;">
                            
                            <div class="col-md-3">
                             <img style="width: 83%" src="{% static 'u1.png' %}">
                            </div>
                            <div class="col-md-9">
                          <span style="color: #091124;
                          font-size: 13px;
                          font-weight: 600;
                          margin-bottom: 0;
                          margin-top: 0;
                          overflow-wrap: break-word;
                          word-wrap: break-word;">Administrator</span>
                          <span style="    float: right;
                          border: 1px solid #017e84;
                          padding: 0px 8px;
                          font-size: 10px;
                          border-radius: 12px;margin: 12px 12px;">3 days</span>
                          <br>
                          <span style="color: rgba(68, 75, 90, 0.76) !important;font-size: 12px;">Unpaid</span>
                          <br>
                          <span style="color: rgba(68, 75, 90, 0.76) !important;font-size: 12px;">from  03/07/2024 to  05/07/2024</span>
                          <div class="row mt-2">
                             <div class="col-md-3">
                                 
                                 <a href="" style="color: #01666b;
                                 text-decoration: none;font-weight: bold;"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Approve</a>
                             </div>
                             <div class="col-md-3">
                                 <a href="" style="color: #01666b;
                                 text-decoration: none;font-weight: bold;"><i class="fa fa-times" aria-hidden="true"></i>Refuse</a>
                             </div>
                          </div>
                            </div>
                            </div>
                         </div>
 
 
 
 

                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
            

{% endblock %}