{% extends "super_admin/menu.html" %}

{% load static %}
{% load notification %}
{% block content %}

<div class="content ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="box_header">
                    <div class="row">
                        <div class="col-md-7 col-12">
                            <div class="mainiconbox"><i class="fa fa-black-tie"></i>
                            </div>
                            <h4 class="m-t-0 header-title">
                                <div class="breadcrumbs ng-scope">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a>Notification</a></li>
                                   
                                    </ul>
                                    <div>All Notification Details</div>
                                </div>
                            </h4>
                        </div>

                        <div class="col-md-5 col-12">
                            <div class="pull-right p-t-10 m-2">
                                <a style="text-decoration: none;color: red" href="view_all_notification"><i class="fa fa-id-card-o" aria-hidden="true"></i> 
                                </a>
                            </div>
                            <div class="pull-right p-t-10 m-2">
                                <a href="view_notification_table"> <i class="fa fa-table" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-box ">
                    <div class="card-box ">
                   
                    <div class="row">

                 
                        {% for i in notifictaion %}

                        <div class="col-md-3 mt-4 card" style="    display: flex;
                     
                        justify-content: center;
                        position: relative;
                       
                        height: auto;
                        background-color: rgba(255, 255, 255, 0.2);
                        backdrop-filter: blur(4.5px);
                        -webkit-backdrop-filter: blur(4.5px);
                        box-shadow: 20px 20px 40px -6px rgb(0 0 0 / 20%);
                        border-radius: 15px;">
                            <div class="row " style="       
                            padding: 12px 3px;">
                            
                            <div class="col-md-3">
                             <img style="width: 83%" src="{% static 'u1.png' %}">
                            </div>
                            <div class="col-md-9">
                          <span style="color: #091124;
                          font-size: 13px;
                          font-weight: 600;
                          margin-bottom: 0;
                          margin-top: 0;
                          overflow-wrap: break-word;
                          word-wrap: break-word;">{{i.leave_apply_user_name}}</span>
                         {% if i.dt|get_notifications_date_ago == 0 %}
                         

                          {% else %}
                          <span style="    float: right;
                          border: 1px solid #017e84;
                          padding: 0px 8px;
                          font-size: 10px;
                          border-radius: 12px;margin: 12px 12px;">
                        {{  i.dt|get_notifications_date_ago}}  days
                        {% endif %}
                        </span>
                          <br>
                          <span style="color: rgba(68, 75, 90, 0.76) !important;font-size: 12px;">{{i.leave_type_name}}</span>
                          <br>
                          <span style="color: rgba(68, 75, 90, 0.76) !important;font-size: 12px;">from {{i.requested_from_dt}} to {{i.requested_to_dt}}</span>
                          {% if i.notification_type == "leave_approve_request" %}
                          <div class="row mt-2">
                             <div class="col-md-3">
                                 
                                 <a href="" style="color: #01666b;
                                 text-decoration: none;font-weight: bold;"><i class="fa fa-thumbs-up" aria-hidden="true"></i>Approve</a>
                             </div>
                             <div class="col-md-3">
                                 <a href="" style="color: #01666b;
                                 text-decoration: none;font-weight: bold;"><i class="fa fa-times" aria-hidden="true"></i>Refuse</a>
                             </div>
                          </div>
                          {% endif %}
                          <div class="mt-2">
                            <a href="view_leave_more_details?id={{i.mapping_id}}" style="    float: right;
                            margin: -12px 12px;">  <i style="color: black;" class="fa fa-eye"></i></a>
                          </div>
                            </div>
                            </div>
                         </div>
 
 
 
 

                        {% endfor %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>
            

{% endblock %}